*{
    margin: 0;
    padding: 0; 
}

body{
    width: 100vw;
    height: 100vh;
    background: url(assest/images/background.jpeg);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    /* backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
}
#nav{
    box-shadow: 1px 2px 3px 4px rgba(85, 85, 85, 0.4);
}

#container{
    border-radius: 20px;
    margin: 10px auto;
    padding: 10px;
}

#SIcon:hover{
    transform: scaleX(1.15) scaleY(1.15);
}

#pieceContainer{
    width: 402px;
    height: 402px;
    background-color: rgb(221, 194, 252);
    border: 1px solid black;
    float: left;
    text-align: center;
    font-size: 30px;
    line-height: 400px;
    position: relative;
}

#puzzleContainer{
    width: 402px;
    height: 402px;
    background-color: rgb(255, 176, 244);
    border: 1px solid black;
    float: right;
}

ul{
    list-style-type: none;
}

ul button{
    width: 100px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
}

#starticon{
    width: 30px;
    
}
#starticon:hover{
    border-radius: 100%;
    box-shadow: 0 10px 10px rgb(202, 202, 202);
    /* box-shadow: 1px 2px 3px 4px rgba(160, 160, 160, 0.719); */
}

#btnStart,
#btnReset{
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    /* box-shadow: 1px 2px 3px 4px rgba(160, 160, 160, 0.719); */
}

#btnReset{
    display: none;
}

.piece{
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
    background-image: url(assest/images/example.jpeg);
    background-repeat: no-repeat;
    /* box-shadow: 1px 2px 3px 4px rgba(117, 117, 117, 0.4); */
}

.piece:hover{
    box-shadow: 1px 2px 3px 4px rgba(182, 182, 182, 0.4);
}

.score {
    position: fixed;
    top: 10px;
    left: 10px;
    font-size: 24px;
    background-color: #f9f9f9;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.timer {
    position: fixed;
    top: 10px;
    right: 10px;
    font-size: 24px;
    background-color: #f9f9f9;
    padding: 5px 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}